* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body, button, input, select, optgroup, textarea {
  color: #404040;
  font-family: 'Poppins', sans-serif;
  line-height: 1.5; }

header, section, footer, aside, nav, main, article, figure {
  display: block; }

h1, h2, h3, h4, h5, h6 {
  clear: both;
  line-height: 1.5;
  font-weight: 600; }

*:focus {
  outline: none; }

.elementor-container {
  max-width: 1220px !important;
  margin: 0 auto;
  position: relative;
  padding: 0; }

.elementor-row {
  width: 100%;
  display: flex; }

.woolentor-banner-img, .woolentor-content {
  width: 50%;
  float: left; }

.woolentor-content-align-right .woolentor-content {
  order: 2; }

.woolentor-content {
  padding-left: 70px; }

.woolentor-banner {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  overflow: hidden; }
  .woolentor-banner .banner_subtitle {
    margin: 0; }
  .woolentor-banner .banner_title {
    margin: 20px 0; }
  .woolentor-banner .banner_button {
    border-bottom: 1px solid #000;
    text-transform: uppercase; }

img {
  height: auto;
  max-width: 100%;
  border: none;
  border-radius: 0;
  box-shadow: none; }

a:hover {
  color: #404040;
  text-decoration: none;
  transition: all 0.4s; }

.banner_subtitle {
  color: #404040;
  font-size: 16px;
  font-weight: 500;
  font-family: "Poppins", Sans-serif; }

.banner_title {
  color: #404040;
  font-size: 28px;
  font-weight: 400;
  font-family: "Poppins", Sans-serif; }

.banner_button {
  color: #404040;
  font-size: 12px;
  font-weight: 600;
  font-family: "Poppins", Sans-serif;
  border-color: #404040; }

.elementor-widget {
  text-align: center;
  position: relative;
  width: 100%; }

.elementor-widget:not(:last-child) {
  margin-bottom: 20px; }

.elementor-heading-title {
  padding: 0;
  margin: 0; }

.elementor-column-wrap {
  display: flex;
  width: 100%;
  position: relative; }
  .elementor-column-wrap .elementor-widget-wrap {
    position: relative;
    width: 100%;
    flex-wrap: wrap;
    align-content: flex-start; }

.arrow_prev {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #e1e1e1;
  border-radius: 100%;
  font-size: 22px;
  height: 60px;
  left: -100px;
  padding: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 60px;
  z-index: 99;
  transition: 0.4s;
  opacity: 1;
  margin: 0;
  color: #1f2226; }

.arrow_next {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #e1e1e1;
  border-radius: 100%;
  font-size: 22px;
  height: 60px;
  left: 650px;
  padding: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 60px;
  z-index: 99;
  transition: 0.4s;
  opacity: 1;
  margin: 0;
  color: #1f2226; }

button .arrow_prev, button .arrow_next {
  left: auto;
  right: 20px; }
button:focus {
  outline: none; }

@media (max-width: 767px) {
  .header-main {
    display: none; }

  .header-small-mobile {
    display: block; }
    .header-small-mobile .container {
      max-width: 100%; }
      .header-small-mobile .container .row .col-md-6 {
        width: 50%; }
        .header-small-mobile .container .row .col-md-6 .header-right-wrap .header-right-content ul li {
          margin-right: 0px !important; }

  .intro .elementor-container .elementor-row {
    display: inline-block; }
    .intro .elementor-container .elementor-row #intro-left {
      width: 100% !important;
      padding-left: 25px; }
    .intro .elementor-container .elementor-row #intro-right {
      width: 100% !important;
      padding: 0 25px; }
    .intro .elementor-container .elementor-row .woolentor-content {
      padding: 20px; }
    .intro .elementor-container .elementor-row .banner_title {
      font-size: 18px; }

  .footer_area-two .footer__widgets-area {
    padding: 30px 0 !important; }
    .footer_area-two .footer__widgets-area .col-xs-12 .footer-main-menu ul li {
      margin-right: 10px !important; }

  .ft-center-xs {
    justify-content: center;
    text-align: center;
    padding: 8px 0; }

  .col-sm-6 {
    max-width: 100% !important;
    flex: 100%; } }
@media (min-width: 768px) {
  .header-main {
    display: none; }

  .header-small-mobile {
    display: block; }

  .header-site .container .header__middle .header__center .main-menu-area nav ul li {
    margin-right: 40px; }

  .container {
    max-width: 75rem; }

  .ft-end-sm {
    justify-content: end;
    text-align: end; }

  .ft-end-md {
    justify-content: center;
    text-align: center; } }
@media (min-width: 992px) {
  .header-small-mobile {
    display: none; }

  .header-main {
    display: block; }

  .container {
    max-width: 65rem; }

  .navbar-expand-lg .navbar-nav .nav-link {
    padding-left: 0;
    padding-right: 0; }

  .header-site .container .header__price {
    padding-left: 0px; }

  .ft-middle .col-sm-12 {
    max-width: 100%;
    flex-basis: 100%; } }
@media (min-width: 1200px) {
  .header-site .container {
    max-width: 1216px !important;
    padding: 0 16px;
    margin: 0 auto; }

  .ft-container {
    width: 76rem; }

  .col-md-4 {
    flex-basis: 33.33333333%;
    max-width: 33.33333333%; }

  .ft-end-md {
    justify-content: end;
    text-align: end; } }
.header-site .container .header__middle {
  align-items: center;
  margin: 0 -16px;
  display: flex;
  flex-direction: row; }
  .header-site .container .header__middle .header__center {
    padding: 0 40px; }
    .header-site .container .header__middle .header__center .main-menu-area nav {
      padding: 0; }
      .header-site .container .header__middle .header__center .main-menu-area nav ul {
        list-style: none;
        margin: 0;
        padding: 0; }
        .header-site .container .header__middle .header__center .main-menu-area nav ul li {
          display: inline-block;
          margin-right: 70px;
          padding: 40px 0;
          position: relative; }
          .header-site .container .header__middle .header__center .main-menu-area nav ul li .sub-menu {
            opacity: 0;
            padding: 20px;
            background-color: #fff;
            position: absolute;
            top: 150%;
            visibility: hidden;
            width: 200px;
            z-index: 900;
            transition: all  0.4s ease 0s;
            left: 20px;
            text-align: left;
            box-shadow: 0 0 3px #ccc;
            list-style: none; }
            .header-site .container .header__middle .header__center .main-menu-area nav ul li .sub-menu li {
              display: block;
              padding: 5px 0;
              position: relative;
              margin: 0; }
              .header-site .container .header__middle .header__center .main-menu-area nav ul li .sub-menu li a {
                display: block;
                font-family: poppins;
                font-size: 16px;
                font-weight: 300;
                transition: all 0.4s ease 0s; }
          .header-site .container .header__middle .header__center .main-menu-area nav ul li .mega-menu {
            width: 970px;
            background-color: #fff;
            box-shadow: 0 0 5px #ccc;
            left: -185px;
            padding: 30px;
            position: absolute;
            z-index: 999;
            transition: all 0.4s ease 0s;
            opacity: 0;
            visibility: hidden;
            top: 100%;
            text-align: left; }
            .header-site .container .header__middle .header__center .main-menu-area nav ul li .mega-menu li.menu-item1 {
              float: left;
              width: 25%;
              display: block;
              padding: 0 30px 0 0;
              margin: 0;
              position: relative; }
              .header-site .container .header__middle .header__center .main-menu-area nav ul li .mega-menu li.menu-item1 a.menu__title {
                border-bottom: 1px solid #ccc;
                display: block;
                font-family: poppins;
                font-weight: 550;
                margin-bottom: 10px;
                padding-bottom: 10px;
                font-size: 18px; }
              .header-site .container .header__middle .header__center .main-menu-area nav ul li .mega-menu li.menu-item1 .sub-menu {
                box-shadow: none;
                padding: 0;
                position: static;
                width: 100%; }
                .header-site .container .header__middle .header__center .main-menu-area nav ul li .mega-menu li.menu-item1 .sub-menu li {
                  padding: 10px 0; }
                  .header-site .container .header__middle .header__center .main-menu-area nav ul li .mega-menu li.menu-item1 .sub-menu li a {
                    display: block;
                    font-size: 16px; }
          .header-site .container .header__middle .header__center .main-menu-area nav ul li a {
            color: #1f2226;
            font-size: 16px;
            font-weight: 400;
            text-decoration: none;
            font-family: "Poppins", Sans-serif; }
            .header-site .container .header__middle .header__center .main-menu-area nav ul li a .parlo-menu-tag {
              background-color: #ff3535;
              color: #fff;
              font-size: 13px;
              padding: 1px 9px;
              position: absolute;
              right: -5px;
              top: 28px; }
            .header-site .container .header__middle .header__center .main-menu-area nav ul li a i {
              font-weight: 900;
              font-size: 18px; }
      .header-site .container .header__middle .header__center .main-menu-area nav .menu-item-has-children::before {
        background: #fff none repeat scroll 0 0;
        border-color: #ccc;
        border-style: solid;
        border-width: 1px 0 0 1px;
        content: "";
        height: 20px;
        left: 45px;
        opacity: 0;
        position: absolute;
        top: 150%;
        transform: rotate(45deg);
        transition: all 0.4s ease 0s;
        visibility: hidden;
        width: 20px;
        z-index: 9999; }
      .header-site .container .header__middle .header__center .main-menu-area nav li:hover ul.sub-menu, .header-site .container .header__middle .header__center .main-menu-area nav li:hover ul.mega-menu {
        opacity: 1;
        visibility: visible;
        top: 100%; }
      .header-site .container .header__middle .header__center .main-menu-area nav .menu-item-has-children:hover::before {
        opacity: 1;
        top: 90%;
        visibility: visible; }
      .header-site .container .header__middle .header__center .main-menu-area nav li:last-child {
        margin-right: 0; }
.header-site .container .header__price {
  padding-left: 90px;
  padding-right: 0; }
  .header-site .container .header__price .header-right {
    text-align: center; }
    .header-site .container .header__price .header-right ul {
      list-style: none;
      padding: 0 16px; }
      .header-site .container .header__price .header-right ul li {
        display: inline-block;
        margin-right: 30px; }
        .header-site .container .header__price .header-right ul li a {
          color: #1f2226;
          font-size: 18px;
          font-weight: 600;
          text-decoration: none;
          font-family: "Poppins", Sans-serif;
          background-color: transparent; }
          .header-site .container .header__price .header-right ul li a i {
            font-size: 20px; }
          .header-site .container .header__price .header-right ul li a .minicart-counter {
            background-color: #1f2226;
            border-radius: 50%;
            color: #fff;
            font-size: 13px;
            height: 25px;
            line-height: 25px;
            position: absolute;
            text-align: center;
            top: -21px;
            width: 25px;
            display: block; }
    .header-site .container .header__price .header-right li:last-child {
      margin-right: 0; }

.header-small-mobile {
  padding: 25px 0; }
  .header-small-mobile .container .row .end-xs {
    justify-content: flex-end;
    text-align: end; }
    .header-small-mobile .container .row .end-xs .header-right-wrap .header-right-content {
      text-align: left; }
      .header-small-mobile .container .row .end-xs .header-right-wrap .header-right-content ul {
        margin: 0;
        padding: 0;
        list-style: none;
        font-family: 'Roboto', sans-serif; }
        .header-small-mobile .container .row .end-xs .header-right-wrap .header-right-content ul li {
          display: inline-block;
          margin-right: 30px;
          position: relative; }
          .header-small-mobile .container .row .end-xs .header-right-wrap .header-right-content ul li a {
            text-decoration: none; }
            .header-small-mobile .container .row .end-xs .header-right-wrap .header-right-content ul li a:visited {
              color: #1f2226; }
            .header-small-mobile .container .row .end-xs .header-right-wrap .header-right-content ul li a i {
              font-size: 20px; }
            .header-small-mobile .container .row .end-xs .header-right-wrap .header-right-content ul li a span {
              font-size: 16px;
              color: #1f2226; }
              .header-small-mobile .container .row .end-xs .header-right-wrap .header-right-content ul li a span .minicart-counter {
                background: #1f2226 none repeat scroll 0 0;
                border-radius: 50%;
                color: #fff;
                display: block;
                font-size: 13px;
                height: 25px;
                left: 3px;
                line-height: 25px;
                position: absolute;
                text-align: center;
                top: -21px;
                width: 25px; }
          .header-small-mobile .container .row .end-xs .header-right-wrap .header-right-content ul li:last-child {
            margin: 0; }
          .header-small-mobile .container .row .end-xs .header-right-wrap .header-right-content ul li .minicard-page {
            width: 190px; }
            .header-small-mobile .container .row .end-xs .header-right-wrap .header-right-content ul li .minicard-page h3 {
              font-size: 14px; }
              .header-small-mobile .container .row .end-xs .header-right-wrap .header-right-content ul li .minicard-page h3 .minicard-close i {
                font-size: 15px; }
              .header-small-mobile .container .row .end-xs .header-right-wrap .header-right-content ul li .minicard-page h3 .items-list {
                font-size: 14px; }

.minicard-page {
  background: #fff none repeat scroll 0 0;
  box-shadow: 0 0 5px #ccc;
  padding: 30px;
  position: absolute;
  width: 290px;
  z-index: 999;
  font-family: poppins;
  transform: none !important;
  top: 60px !important; }
  .minicard-page h3 {
    border-bottom: 1px solid #ccc;
    font-size: 16px;
    margin: 0;
    padding-bottom: 30px; }
  .minicard-page .minicard-close {
    cursor: pointer;
    position: absolute;
    right: 30px;
    top: 24px; }
    .minicard-page .minicard-close i {
      color: #000;
      font-size: 16px; }
  .minicard-page .items-list {
    padding-top: 30px; }
    .minicard-page .items-list p {
      margin-bottom: 1.5em; }

.sidenav {
  bottom: 0;
  box-shadow: 0 0 87px 0 rgba(0, 0, 0, 0.09);
  min-height: 100%;
  opacity: 1;
  position: fixed;
  right: -300px;
  top: 0;
  transition: all 400ms ease-out 0s;
  visibility: hidden;
  z-index: 1;
  width: 0;
  opacity: 1;
  right: 0;
  visibility: visible; }
  .sidenav .closebtn {
    background-color: #343538;
    font-size: 18px;
    height: 40px;
    left: -40px;
    line-height: 40px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 40px;
    z-index: 999999;
    text-decoration: none; }
  .sidenav .offcanvas-wrapper {
    background-color: #fff;
    box-shadow: 0 0 87px 0 rgba(0, 0, 0, 0.09);
    height: 100%;
    overflow: auto; }
    .sidenav .offcanvas-wrapper .offcanvas-inner-content {
      display: flex;
      flex-direction: column;
      height: 100%;
      padding: 90px 35px 0; }
      .sidenav .offcanvas-wrapper .offcanvas-inner-content .offcanvas-search {
        left: 0;
        padding: 10px;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 9; }
        .sidenav .offcanvas-wrapper .offcanvas-inner-content .offcanvas-search input {
          background: #e6e6e6 none repeat scroll 0 0;
          border: medium none;
          color: #222;
          display: block;
          font-size: 16px;
          padding: 8px 25px;
          width: 100%; }
      .sidenav .offcanvas-wrapper .offcanvas-inner-content .canvas-navigation ul {
        margin: 0;
        padding: 0;
        list-style: none; }
        .sidenav .offcanvas-wrapper .offcanvas-inner-content .canvas-navigation ul li {
          display: block;
          position: relative; }
          .sidenav .offcanvas-wrapper .offcanvas-inner-content .canvas-navigation ul li .menu-expand {
            cursor: pointer;
            height: 50px;
            left: 95%;
            line-height: 50px;
            position: absolute;
            right: auto;
            text-align: center;
            top: -5px;
            width: 30px; }

.sidenav a:hover {
  color: #f1f1f1; }

#main {
  transition: margin-left .5s;
  padding: 16px; }

.carousel {
  padding: 0px 30px 0px 30px;
  position: relative;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s; }
  .carousel .elementor-column {
    width: 100%; }
    .carousel .elementor-column .carousel-container .slider-area .slider-slider .slick-prev .slick-list .slick-track {
      opacity: 1;
      width: 7295px;
      transform: translate3d(-2918px, 0px, 0px); }
      .carousel .elementor-column .carousel-container .slider-area .slider-slider .slick-prev .slick-list .slick-track .slick-slide .slingle-slider {
        width: 100%;
        display: inline-block; }
  .carousel .carousel-layer {
    background-color: #effafa; }
    .carousel .carousel-layer .elementor-container .elementor-row .slick-arrow i {
      opacity: 1; }
    .carousel .carousel-layer .elementor-container .elementor-row .slick-arrow:hover {
      color: #fff;
      border-color: #1f2226; }
    .carousel .carousel-layer .elementor-container .elementor-row .slick-arrow:focus {
      outline: none; }
    .carousel .carousel-layer .elementor-container .elementor-row .slick-arrow:hover i {
      color: #23252a; }
    .carousel .carousel-layer .elementor-container .elementor-row .carousel-column {
      padding-left: 0;
      padding-right: 0; }
      .carousel .carousel-layer .elementor-container .elementor-row .carousel-column .elementor-column-wrap {
        align-items: center;
        top: 37%; }
        .carousel .carousel-layer .elementor-container .elementor-row .carousel-column .elementor-column-wrap .elementor-widget-wrap {
          align-content: center;
          align-items: center; }
          .carousel .carousel-layer .elementor-container .elementor-row .carousel-column .elementor-column-wrap .elementor-widget-wrap .elementor-widget {
            animation-name: fadeInUp;
            animation-duration: 1.25s;
            text-align: left; }
            .carousel .carousel-layer .elementor-container .elementor-row .carousel-column .elementor-column-wrap .elementor-widget-wrap .elementor-widget .heading-title {
              font-family: "Poppins", Sans-serif;
              font-size: 72px;
              font-weight: 500;
              color: #1f2226;
              padding: 0;
              margin: 0;
              line-height: 1; }
            .carousel .carousel-layer .elementor-container .elementor-row .carousel-column .elementor-column-wrap .elementor-widget-wrap .elementor-widget p {
              font-family: "Poppins", Sans-serif;
              font-size: 16px;
              font-weight: 400;
              line-height: 27px;
              color: #1f2226;
              margin-bottom: 20px; }
            .carousel .carousel-layer .elementor-container .elementor-row .carousel-column .elementor-column-wrap .elementor-widget-wrap .elementor-widget .carousel-button a {
              font-family: "Poppins", Sans-serif;
              font-weight: 600;
              text-transform: uppercase;
              fill: #1f2226;
              color: #1f2226;
              background-color: rgba(0, 0, 0, 0);
              border-style: solid;
              border-width: 2px 2px 2px 2px;
              border-color: #1f2226;
              border-radius: 0px 0px 0px 0px;
              padding: 12px 24px;
              font-size: 15px;
              display: inline-block;
              line-height: 1;
              transition: all 0.5s; }
              .carousel .carousel-layer .elementor-container .elementor-row .carousel-column .elementor-column-wrap .elementor-widget-wrap .elementor-widget .carousel-button a:hover {
                color: #effafa;
                background-color: #1f2226; }
            .carousel .carousel-layer .elementor-container .elementor-row .carousel-column .elementor-column-wrap .elementor-widget-wrap .elementor-widget:first-child {
              animation-delay: 0.3s; }
            .carousel .carousel-layer .elementor-container .elementor-row .carousel-column .elementor-column-wrap .elementor-widget-wrap .elementor-widget:nth-child(2) {
              animation-delay: 0.3s; }
            .carousel .carousel-layer .elementor-container .elementor-row .carousel-column .elementor-column-wrap .elementor-widget-wrap .elementor-widget:last-child {
              animation-delay: 0.8s; }
            .carousel .carousel-layer .elementor-container .elementor-row .carousel-column .elementor-column-wrap .elementor-widget-wrap .elementor-widget:not(:last-child) {
              margin-bottom: 20px; }

.elementor-column-wrap-right .elementor-widget-wrap-right .elementor-widget-right {
  animation-name: fadeInRight;
  animation-duration: 1.25s; }

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0); }
  100% {
    opacity: 1;
    transform: none; } }
@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translate3d(100%, 0, 0); }
  100% {
    opacity: 1;
    transform: none; } }
@media (max-width: 1600px) and (min-width: 1199px) {
  .slider-slider .slick-arrow {
    opacity: 0; } }
.slider-slider:hover .slick-arrow {
  opacity: 1; }

.intro {
  padding: 90px 0px 90px 0px; }
  .intro .elementor-container .elementor-row #intro-left {
    width: 59.426%; }
    .intro .elementor-container .elementor-row #intro-left .intro-populated {
      padding: 10px; }
  .intro .elementor-container .elementor-row #intro-right {
    width: 40.574%; }
    .intro .elementor-container .elementor-row #intro-right .intro-populated {
      padding: 10px; }
      .intro .elementor-container .elementor-row #intro-right .intro-populated .intro-widget-wrap {
        width: 100%; }
        .intro .elementor-container .elementor-row #intro-right .intro-populated .intro-widget-wrap .intro-right-widget {
          margin-bottom: 20px; }
  .intro .elementor-container .elementor-row .intro-right-bottom .intro-column-widget-container {
    padding: 26px 0 20px 0;
    background-color: #effafa; }
  .intro .intro-column-widget-container {
    background-color: #fbf8eb;
    width: 100%; }
  .intro .woolentor-content-align-right .woolentor-banner-img {
    padding-left: 50px; }

@media (max-width: 1600px) and (min-width: 1199px) {
  .woolentor-content-align-right .woolentor-content {
    padding-left: 20px; } }
.products .elementor-container .elementor-row .products-column {
  width: 100%; }
  .products .elementor-container .elementor-row .products-column .products-populated {
    padding: 10px; }
    .products .elementor-container .elementor-row .products-column .products-populated .products-widget-wrap {
      position: relative;
      width: 100%;
      flex-wrap: wrap;
      align-content: flex-start; }
      .products .elementor-container .elementor-row .products-column .products-populated .products-widget-wrap .heading-title .elementor-heading-title {
        color: #1f2226;
        font-size: 30px;
        font-weight: 500;
        font-family: "Poppins", Sans-serif; }
      .products .elementor-container .elementor-row .products-column .products-populated .products-widget-wrap .heading-content .elementor-heading-title {
        font-size: 16px;
        font-weight: 400;
        color: #5a5a5a;
        line-height: 24px;
        font-family: "Poppins", Sans-serif; }
      .products .elementor-container .elementor-row .products-column .products-populated .products-widget-wrap .intro-product {
        width: 100%; }
        .products .elementor-container .elementor-row .products-column .products-populated .products-widget-wrap .intro-product .widget-container .product-tab-list {
          text-align: center; }
          .products .elementor-container .elementor-row .products-column .products-populated .products-widget-wrap .intro-product .widget-container .product-tab-list .nav-pills .nav-item .nav-link.active {
            background-color: #1f2226 !important;
            border-style: solid;
            border-width: 0px 0px 0px 0px; }
.products .nav {
  margin-bottom: 45px;
  display: block; }
.products .nav-link {
  font-family: "Poppins", Sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #1f2226;
  background-color: #f1f1f1 !important;
  border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-radius: 0px 0px 0px 0px;
  display: block; }
.products .tab-menu li {
  display: inline-block;
  margin-right: 20px; }
  .products .tab-menu li a {
    border: 1px solid transparent;
    padding: 5px 15px;
    text-transform: capitalize; }

.banner {
  background-image: url(http://demo.shrimpthemes.com/1/parlo/wp-content/uploads/2019/03/testimonial_bg.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 60px;
  margin-bottom: 100px;
  padding: 100px 0px 100px 0px; }
  .banner .banner-left {
    width: 15%; }
  .banner .banner-center {
    width: 69.332%; }
    .banner .banner-center .elementor-populated {
      padding: 10px; }
      .banner .banner-center .elementor-populated .banner-widget {
        width: 100%; }
        .banner .banner-center .elementor-populated .banner-widget .slick-slider .slick-list .slick-track {
          opacity: 1;
          width: 5782px !important; }
          .banner .banner-center .elementor-populated .banner-widget .slick-slider .slick-list .slick-track .slick-slide {
            display: block; }
            .banner .banner-center .elementor-populated .banner-widget .slick-slider .slick-list .slick-track .slick-slide .banner-image {
              margin-bottom: 35px;
              display: inline-block; }
            .banner .banner-center .elementor-populated .banner-widget .slick-slider .slick-list .slick-track .slick-slide .banner-content p {
              font-size: 16px;
              font-weight: 400;
              color: #1f2226;
              line-height: 30px;
              font-family: "Poppins", Sans-serif;
              margin: 0; }
            .banner .banner-center .elementor-populated .banner-widget .slick-slider .slick-list .slick-track .slick-slide .banner-content .banner-actor {
              margin: 20px 0;
              display: inline-block; }
            .banner .banner-center .elementor-populated .banner-widget .slick-slider .slick-list .slick-track .slick-slide .banner-content h4 {
              text-transform: uppercase;
              margin: 0;
              color: #1f2226;
              font-size: 14px;
              font-weight: 600;
              font-family: "Poppins", Sans-serif; }
  .banner .banner-right {
    width: 15%; }

.elementor-container .elementor-row .products-column .products-populated {
  padding: 10px;
  display: flex;
  width: 100%;
  position: relative; }
  .elementor-container .elementor-row .products-column .products-populated .products-widget-wrap {
    position: relative;
    width: 100%;
    flex-wrap: wrap;
    align-content: flex-start; }
    .elementor-container .elementor-row .products-column .products-populated .products-widget-wrap .heading-title .elementor-heading-title {
      color: #404040;
      font-size: 30px;
      font-weight: 500;
      font-family: "Poppins", Sans-serif; }
    .elementor-container .elementor-row .products-column .products-populated .products-widget-wrap .heading-content .widget-container .elementor-heading-title {
      font-size: 16px;
      font-weight: 400;
      color: #5a5a5a;
      line-height: 24px;
      font-family: "Poppins", Sans-serif; }

.elementor-container .ht-product {
  margin-bottom: 30px; }
  .elementor-container .ht-product .product-inner {
    border-color: #f1f1f1;
    color: #444444;
    border: 1px solid #f1f1f1;
    transition: all 0.5s ease;
    position: relative;
    overflow: hidden; }
    .elementor-container .ht-product .product-inner .product-content {
      background-color: #ffffff;
      padding: 30px; }
      .elementor-container .ht-product .product-inner .product-content .product-content-inner {
        position: relative; }
        .elementor-container .ht-product .product-inner .product-content .product-content-inner .product-categories {
          position: absolute;
          right: 0;
          bottom: -20px;
          margin: 0;
          padding-left: 30px;
          display: flex; }
          .elementor-container .ht-product .product-inner .product-content .product-content-inner .product-categories a {
            font-weight: 400;
            color: inherit;
            text-decoration: none;
            font-size: 14px;
            line-height: 1;
            transition: all 0.3s ease;
            -webkit-transition: all 0.3s ease;
            -o-transition: all 0.3s ease; }
          .elementor-container .ht-product .product-inner .product-content .product-content-inner .product-categories::before {
            background-color: #444444;
            content: "";
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 20px;
            height: 1px; }
        .elementor-container .ht-product .product-inner .product-content .product-content-inner .product-title {
          font-size: 18px;
          line-height: 1.2;
          font-weight: 400;
          margin-bottom: 10px;
          text-align: left; }
          .elementor-container .ht-product .product-inner .product-content .product-content-inner .product-title a {
            color: inherit;
            text-decoration: none;
            transition: all 0.3s ease; }
        .elementor-container .ht-product .product-inner .product-content .product-content-inner .product-price {
          display: flex;
          align-items: center;
          margin-bottom: 19px; }
          .elementor-container .ht-product .product-inner .product-content .product-content-inner .product-price .price .price-old {
            font-weight: 400;
            font-family: "Poppins", Sans-serif;
            font-size: 13px;
            color: #4a4a4a;
            margin-right: 8px;
            text-decoration: line-through;
            opacity: 1; }
          .elementor-container .ht-product .product-inner .product-content .product-content-inner .product-price .price .price-amount {
            color: #ff3535;
            font-family: "Poppins", Sans-serif;
            font-size: 16px;
            text-decoration: none;
            font-weight: 600;
            display: inline-block; }
        .elementor-container .ht-product .product-inner .product-content .product-content-inner a:hover {
          color: #dc9a0e; }
    .elementor-container .ht-product .product-inner:hover {
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); }

.elementor-container .ht-product .product-inner .product-image-wrap {
  position: relative;
  overflow: hidden;
  background-color: #f9f9f9; }
  .elementor-container .ht-product .product-inner .product-image-wrap .product-sale {
    color: #444444;
    left: auto;
    right: 30px;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 700;
    position: absolute;
    top: 18px;
    z-index: 3; }
  .elementor-container .ht-product .product-inner .product-image-wrap .product-action {
    position: absolute;
    right: 25px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 9; }
    .elementor-container .ht-product .product-inner .product-image-wrap .product-action ul {
      display: flex;
      flex-direction: column;
      list-style: none;
      margin: -5px;
      padding: 0; }
      .elementor-container .ht-product .product-inner .product-image-wrap .product-action ul li {
        padding: 5px;
        position: relative;
        transform: translateX(30px);
        transition: all 0.3s ease 0s;
        opacity: 0;
        visibility: hidden; }
        .elementor-container .ht-product .product-inner .product-image-wrap .product-action ul li a {
          text-decoration: none;
          display: block;
          text-align: center;
          width: 30px;
          height: 30px;
          position: relative;
          transition: all 0.3s ease;
          -webkit-transition: all 0.3s ease;
          -o-transition: all 0.3s ease;
          color: #000000; }
          .elementor-container .ht-product .product-inner .product-image-wrap .product-action ul li a i {
            font-size: 20px;
            line-height: 30px;
            margin: 0; }
            .elementor-container .ht-product .product-inner .product-image-wrap .product-action ul li a i:hover {
              color: #dc9a0e; }
          .elementor-container .ht-product .product-inner .product-image-wrap .product-action ul li a .product-action-tooltip {
            position: absolute;
            top: 50%;
            display: block;
            transform: translateY(-50%);
            font-size: 10px;
            line-height: 1;
            background-color: #282828;
            padding: 5px 10px;
            border-radius: 50px;
            white-space: nowrap;
            opacity: 0;
            visibility: hidden;
            transition: all 0.5s ease;
            left: auto;
            right: 50px;
            margin-left: 0;
            margin-right: -10px;
            color: #ffffff; }
          .elementor-container .ht-product .product-inner .product-image-wrap .product-action ul li a:hover {
            margin-right: 0;
            opacity: 1;
            visibility: visible;
            margin-left: 0; }
        .elementor-container .ht-product .product-inner .product-image-wrap .product-action ul li:nth-child(2) {
          transition: all 0.3s ease 0.2s; }
        .elementor-container .ht-product .product-inner .product-image-wrap .product-action ul li:nth-child(3) {
          transition: all 0.3s ease 0.4s; }
        .elementor-container .ht-product .product-inner .product-image-wrap .product-action ul li:nth-child(4) {
          transition: all 0.3s ease 0.6s; }

.elementor-container .ht-product .product-inner:hover .product-action ul li {
  opacity: 1;
  visibility: visible;
  transform: translateX(0); }

.elementor-container .ht-product .product-inner .product-image-wrap .product-action ul li a:hover .product-action-tooltip {
  margin-right: 0;
  opacity: 1;
  visibility: visible;
  margin-left: 0; }

.lamp-sale {
  margin-top: 60px;
  margin-bottom: 90px; }
  .lamp-sale .elementor-container .elementor-row .lp-column {
    width: 50%;
    padding: 0; }
    .lamp-sale .elementor-container .elementor-row .lp-column .lp-populated {
      padding: 10px; }
      .lamp-sale .elementor-container .elementor-row .lp-column .lp-populated .lp-widget-wrap {
        position: relative;
        width: 100%;
        flex-wrap: wrap;
        align-content: flex-start; }
        .lamp-sale .elementor-container .elementor-row .lp-column .lp-populated .lp-widget-wrap .lp-widget-left-container {
          padding: 60px 0px 60px 0px;
          background-repeat: no-repeat;
          background-size: cover;
          width: 100%;
          background-color: #fbf8eb;
          background-image: url("http://demo.shrimpthemes.com/1/parlo/wp-content/uploads/2019/03/banner_4.png"); }
          .lamp-sale .elementor-container .elementor-row .lp-column .lp-populated .lp-widget-wrap .lp-widget-left-container .woolentor-content-align-left .woolentor-content {
            order: 2; }
          .lamp-sale .elementor-container .elementor-row .lp-column .lp-populated .lp-widget-wrap .lp-widget-left-container .woolentor-content-align-left .woolentor-banner-img {
            order: 1;
            padding-left: 50px; }
        .lamp-sale .elementor-container .elementor-row .lp-column .lp-populated .lp-widget-wrap .lp-widget-right-container {
          padding: 60px 0px 60px 0px;
          background-repeat: no-repeat;
          background-size: cover;
          width: 100%;
          background-image: url("http://demo.shrimpthemes.com/1/parlo/wp-content/uploads/2019/03/banner_5.png"); }

.service-element {
  padding: 30px 0px 90px 0px; }
  .service-element .sv-container {
    max-width: 1220px !important;
    margin: 0 auto;
    position: relative;
    padding: 0; }
    .service-element .sv-container .sv-row {
      width: 100%;
      display: flex; }
      .service-element .sv-container .sv-row .sv-column {
        min-width: 33.333%;
        padding: 0; }
        .service-element .sv-container .sv-row .sv-column .sv-column-wrap {
          display: flex;
          width: 100%;
          position: relative; }
          .service-element .sv-container .sv-row .sv-column .sv-column-wrap .sv-widget-wrap {
            display: flex;
            position: relative;
            width: 100%;
            flex-wrap: wrap;
            align-content: flex-start; }
            .service-element .sv-container .sv-row .sv-column .sv-column-wrap .sv-widget-wrap .service-icon {
              float: left;
              width: 70px; }
              .service-element .sv-container .sv-row .sv-column .sv-column-wrap .sv-widget-wrap .service-icon img {
                height: auto;
                max-width: 100%;
                border: none;
                border-radius: 0;
                box-shadow: none;
                margin-top: -30px; }
            .service-element .sv-container .sv-row .sv-column .sv-column-wrap .sv-widget-wrap .service-content {
              float: left;
              padding-left: 20px; }
              .service-element .sv-container .sv-row .sv-column .sv-column-wrap .sv-widget-wrap .service-content h4 {
                font-family: "Poppins", Sans-serif;
                color: #383838;
                font-weight: 600;
                font-size: 18px;
                line-height: 24px;
                margin-bottom: 13px;
                text-transform: capitalize; }
              .service-element .sv-container .sv-row .sv-column .sv-column-wrap .sv-widget-wrap .service-content span {
                background-color: #383838;
                display: block;
                height: 3px;
                margin-bottom: 13px;
                width: 50px; }
              .service-element .sv-container .sv-row .sv-column .sv-column-wrap .sv-widget-wrap .service-content p {
                font-size: 16px;
                font-weight: 400;
                color: #383838;
                line-height: 26px;
                font-family: "Poppins", Sans-serif; }

.blog-posts {
  padding: 0px 0px 70px 0px; }
  .blog-posts .elementor-container .elementor-row .blog-column {
    width: 100%; }
    .blog-posts .elementor-container .elementor-row .blog-column .blog-populated {
      padding: 10px; }
      .blog-posts .elementor-container .elementor-row .blog-column .blog-populated .blog-widget-wrap {
        position: relative;
        width: 100%;
        flex-wrap: wrap;
        align-content: flex-start; }
        .blog-posts .elementor-container .elementor-row .blog-column .blog-populated .blog-widget-wrap .heading-title {
          margin-bottom: 15px; }
          .blog-posts .elementor-container .elementor-row .blog-column .blog-populated .blog-widget-wrap .heading-title .widget-container .elementor-heading-title {
            color: #1f2226;
            font-size: 30px;
            font-weight: 500;
            font-family: "Poppins", Sans-serif; }
        .blog-posts .elementor-container .elementor-row .blog-column .blog-populated .blog-widget-wrap .heading-content .elementor-heading-title {
          color: #5a5a5a;
          font-size: 16px;
          font-weight: 400;
          font-family: "Poppins", Sans-serif;
          line-height: 24px; }
        .blog-posts .elementor-container .elementor-row .blog-column .blog-populated .blog-widget-wrap .blog-content-img .blog-widget-container {
          margin: 60px 0px 0px 0px; }
          .blog-posts .elementor-container .elementor-row .blog-column .blog-populated .blog-widget-wrap .blog-content-img .blog-widget-container .blog-area .col-md-6 {
            padding-left: 25px;
            padding-right: 0px; }
            .blog-posts .elementor-container .elementor-row .blog-column .blog-populated .blog-widget-wrap .blog-content-img .blog-widget-container .blog-area .col-md-6 .blog-content {
              padding: 0 50px;
              text-align: center; }
              .blog-posts .elementor-container .elementor-row .blog-column .blog-populated .blog-widget-wrap .blog-content-img .blog-widget-container .blog-area .col-md-6 .blog-content h2 {
                border-bottom: 1px solid #ebebeb;
                margin: 0 0 20px;
                padding: 25px 0; }
                .blog-posts .elementor-container .elementor-row .blog-column .blog-populated .blog-widget-wrap .blog-content-img .blog-widget-container .blog-area .col-md-6 .blog-content h2 a {
                  color: #1f2226;
                  font-size: 18px;
                  font-weight: 600;
                  text-decoration: none;
                  font-family: "Poppins", Sans-serif; }
                .blog-posts .elementor-container .elementor-row .blog-column .blog-populated .blog-widget-wrap .blog-content-img .blog-widget-container .blog-area .col-md-6 .blog-content h2 a:hover {
                  color: #ff3535; }
              .blog-posts .elementor-container .elementor-row .blog-column .blog-populated .blog-widget-wrap .blog-content-img .blog-widget-container .blog-area .col-md-6 .blog-content .blog-note {
                list-style: outside none none;
                margin: 0 0 20px;
                padding: 0; }
                .blog-posts .elementor-container .elementor-row .blog-column .blog-populated .blog-widget-wrap .blog-content-img .blog-widget-container .blog-area .col-md-6 .blog-content .blog-note li {
                  color: #919090;
                  font-weight: 400; }
                  .blog-posts .elementor-container .elementor-row .blog-column .blog-populated .blog-widget-wrap .blog-content-img .blog-widget-container .blog-area .col-md-6 .blog-content .blog-note li a {
                    color: #919090; }
                .blog-posts .elementor-container .elementor-row .blog-column .blog-populated .blog-widget-wrap .blog-content-img .blog-widget-container .blog-area .col-md-6 .blog-content .blog-note p {
                  font-size: 14px;
                  font-weight: 400;
                  color: #1f2226;
                  line-height: 24px;
                  font-family: "Poppins", Sans-serif; }

.blog-content .blog-note li {
  display: inline-block;
  font-size: 13px;
  padding-right: 30px;
  position: relative; }

.blog-content .blog-note li::after {
  content: "";
  height: 1px;
  width: 18px;
  position: absolute;
  background: #919090;
  transform: rotate(70deg);
  bottom: 8px;
  right: 5px; }

.blog-content .blog-note li:last-child {
  padding-right: 0; }

.blog-content .blog-note li:last-child:after {
  display: none; }

.footer_area-two {
  background: #effafa; }
  .footer_area-two .footer__widgets-area {
    padding: 50px 0; }
    .footer_area-two .footer__widgets-area .col-xs-12 {
      flex-basis: 100% !important;
      max-width: 100%;
      padding: 0 16px; }
      .footer_area-two .footer__widgets-area .col-xs-12 .footer-main-menu {
        display: flex; }
        .footer_area-two .footer__widgets-area .col-xs-12 .footer-main-menu ul {
          text-align: center;
          margin: 0 auto;
          padding: 0;
          list-style: none; }
          .footer_area-two .footer__widgets-area .col-xs-12 .footer-main-menu ul li {
            margin-right: 70px;
            display: inline-block; }
            .footer_area-two .footer__widgets-area .col-xs-12 .footer-main-menu ul li a {
              color: #1f2226;
              text-decoration: none;
              transition: all 0.4s; }
              .footer_area-two .footer__widgets-area .col-xs-12 .footer-main-menu ul li a:hover {
                color: #ff3535; }
  .footer_area-two .footer__copyright-area {
    border-top: 1px solid #fff;
    padding: 15px 0; }
    .footer_area-two .footer__copyright-area .ft-middle {
      align-items: center; }
      .footer_area-two .footer__copyright-area .ft-middle .ft-first .footer-social-media ul {
        margin: 0;
        padding: 0;
        list-style: none; }
        .footer_area-two .footer__copyright-area .ft-middle .ft-first .footer-social-media ul li {
          margin-right: 20px;
          display: inline-block; }
      .footer_area-two .footer__copyright-area .ft-middle a, .footer_area-two .footer__copyright-area .ft-middle .copyright-txt {
        color: #ababab;
        font-size: 14px;
        font-weight: 0;
        text-decoration: none;
        font-family: "Poppins", Sans-serif; }
      .footer_area-two .footer__copyright-area .ft-middle a:hover {
        color: #ff3535; }
  .footer_area-two .container {
    padding: 0 16px;
    margin: 0 auto; }
  .footer_area-two img {
    height: auto;
    max-width: 100%; }

.page {
  height: 30px; }

/*# sourceMappingURL=style.css.map */
